<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>To Do List</title>
</head>
<body>
    <h2>Welcome to the To Do List!</h2>
    <p>@Html.ActionLink("Go to list of items", "Index", "Items")</p>
</body>
</html>